html, body {
  overflow-x: hidden;
}
/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


/**
 * Add .section to every anchored element for scroll margin
 */
.section {
  scroll-margin-top: 2rem;
}

/* Header */
.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration: none;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }
}

.nav-link {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8) !important;
}
.newimage{
  padding: 1.2rem !important;
}
.borders{
  border: 2px solid black;
}

.social-nav .nav-link {
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
}
.containers{
  border: 2px solid black;
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgb(255, 9, 9) !important;
}
.grad {
  background-image: linear-gradient(to right, rgb(229, 222, 222) , rgb(141, 215, 209),rgb(229, 222, 222));
}
/* .grad {
  background-image: linear-gradient(to right, rgb(233, 217, 217) , rgb(141, 215, 209));
} */

/* Hero (intro) section */
.intro-title {
  font-weight: 800;
}

@-webkit-keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}


.wave-bg {
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

img.avatar {
  border-radius: 30px;
}

/* Masonary grid for portfolio */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid Item */
.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  padding-bottom: 12px;
}

@media (min-width: 48em) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
  .grid-item {
    float: left;
    padding: 6px;
  }
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Portfolio */
.portolio-section .container {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.portfolio-item figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.portfolio-item figcaption h4 {
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.portfolio-item figcaption p {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-item:hover figcaption {
  transform: translate3d(0, 0, 0);
}

/* Portolio Caption */
#bp_container .bp-xc {
  background: #F6E05E !important;
}

#bp_caption a {
  text-decoration: none;
}

/* Footer section */
footer a:not(.nav-link) {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Top */
#scrolltop {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  padding: 3px 11px;
  border-radius: 50%;
}

/* Additional utility styles */
.container-narrow {
  max-width: 1024px;
  margin: 35px auto;
}

.text-small {
  font-size: 0.875rem;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.hover-effect {
  transition: transform .18s ease-in-out;
}

.hover-effect:hover {
  transform: translateY(-2px);
}

.marker {
  position: relative;
  display: inline;
  width: auto;
}

.marker-center {
  padding-right: 0;
}

.marker:after {
  content: "";
  width: 125px;
  height: 30px;
  position: absolute;
  bottom: -25px;
  right: -30px;
  background-image: url("../images/marker.svg");
  background-repeat: no-repeat;
}

.marker-center:after {
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
}

@media (max-width: 575.98px) {
  .marker {
    padding-right: 0;
  }
  .marker:after {
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
  }
}

.entry-title a {
  text-decoration: none;
}

@font-face {
  font-family: azonix;
  src: url(font-awesome/Azonix.otf);
}

.mainfont{
  font-family: azonix;
  font-size: 24px;
}
.mainfont2{
  font-family: azonix;
  font-size: 16px;
}
.portfolioImages{
  width: 330px;
  height: 200px;
  margin: 15px;
}
.mainPText{
  font-family: azonix;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  z-index: 5;
  margin: -30%;
  margin-left: 15%;
}
.mainPText:hover{
  text-decoration: none;
  color: wheat;
}
.portfolioImages img{
  width: 330px;
  height: 200px;
}
.imageOverlay{
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  width: 330px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
  z-index: 1;
}
.imageOverlaylogo{
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  width: 330px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
  z-index: 1;
}
.imageOverlaycar{
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  width: 330px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
  z-index: 1;
}

#mainMobileView{
  display: none;
}
@media (max-width: 575.98px) {
  #mainMobileView{
    display: block;
  }
  #carouselTeam{
    display: none;
  }
}

#carouselText{
  display: block;
  justify-content: center;
  align-items: center;
}

#textCarousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
lottie-player{
  width: 600px;
}

@media (max-width: 575px) {
    lottie-player{
      width: 400px;
    }
    .wave2-bg{
      position: absolute;      
    }
}